<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ league_name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <div class="logo-container">
                <div>
                    {{ logo_svg | safe }}
                </div>
            </div>
            <h1>{{ league_name }}</h1>
            <table>
                <tr>
                    <th class="rank_col"></th>
                    <th class="player_col">Spiller</th>
                    <th class="entry_col">Lag</th>
                    <th class="round_col">Runde</th>
                    <th class="points_col">Poeng</th>
                </tr>
                {% for row in league_standings %}
                    <tr>
                        <td class="rank_col">
                            <span class="rank">{{ row.rank_sort }}</span>
                            {% if row.last_rank != 0 and row.rank_change != 0 %}
                                {% if row.rank_change > 0 %}
                                    <span class="positive_rank_change">(+{{ row.rank_change }})</span>
                                {% else %}
                                    <span class="negative_rank_change">({{ row.rank_change }})</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="player_col">{{ row.player_name }}</td>
                        <td class="entry_col">{{ row.entry_name }}</td>
                        <td class="round_col">
                            {% if row.round_rank == 1 %}🥇 {% elif row.round_rank == 2 %}🥈 {% elif row.round_rank == 3 %}🥉 {% endif %}
                            <span class="round_score_value">{{ row.event_total }}</span>
                        </td>
                        <td class="points_col"><span class="points_value">{{ row.total }}</span></td>
                    </tr>
                {% endfor %}
            </table>
        </body>
    </html>
