{% extends "base.html" %}

{% block title %}{{ name }} - Current standings{% endblock %}

{% block body %}
    <div class="logo-container">
        <div>
            {{ logo_svg | safe }}
        </div>
    </div>
    <h1>
        {{ name }} Live Rank
        {% if league_join_code %}
            ({{ league_join_code }})
        {% endif %}
    </h1>
    <table class="league_standings">
        <tr>
            <th class="rank_col"></th>
            <th class="player_col">Spiller</th>
            <th class="entry_col">Lag</th>
            <th class="round_col" colspan="4">Runde{% if not is_current_finished %} *{% endif %}</th>
            <th class="points_col">Poeng</th>
        </tr>
        {% for team in participants %}
            {% set last = team.last_event %}
            <tr>
                <td class="rank_col">
                    <span class="rank">{{ last.league_rank }}</span>
                    {% if last.league_rank_change != 0 %}
                        {% if last.league_rank_change > 0 %}
                            <span class="positive_rank_change">(+{{ last.league_rank_change }})</span>
                        {% else %}
                            <span class="negative_rank_change">({{ last.league_rank_change }})</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="player_col">{{ team.manager_name }}</td>
                <td class="entry_col">{{ team.team_name }}</td>
                <td class="round_chip_col">{% if last.chip %}{{ last.chip }}{% endif %}</td>
                <td class="round_medal_col">
                    {% if last.round_rank == 1 %}
                        <img src="first_place.png" alt="1st place" class="medal-icon">
                    {% elif last.round_rank == 2 %}
                        <img src="second_place.png" alt="2nd place" class="medal-icon">
                    {% elif last.round_rank == 3 %}
                        <img src="third_place.png" alt="3rd place" class="medal-icon">
                    {% elif last.round_rank == participants|length %}
                        <img src="alarm.png" alt="Last place" class="medal-icon">
                    {% endif %}
                </td>
                <td class="round_points_col">
                    <span class="round_points_value">{{ last.points }}</span>
                </td>
                <td class="round_transfers_col">
                    {% if last.event_transfers_cost > 0 %}(-{{ last.event_transfers_cost }}){% endif %}
                </td>
                <td class="points_col">
                    <span class="points_value">{{ last.total_points }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
