{% extends "base.html" %}

{% block title %}{{ league_name }}{% endblock %}

{% block body %}
    <div class="logo-container">
        <div>
            {{ logo_svg | safe }}
        </div>
    </div>
    <h1>
        {{ league_name }}
        {% if league_join_code %}
            ({{ league_join_code }})
        {% endif %}
    </h1>
    <table>
        <tr>
            <th class="rank_col"></th>
            <th class="player_col">Spiller</th>
            <th class="entry_col">Lag</th>
            <th class="chip_col">Chip</th>
            <th class="round_col">Runde</th>
            <th class="points_col">Poeng</th>
        </tr>
        {% for team in league_standings %}
            {% set last = team.last_event %}
            <tr>
                <td class="rank_col">
                    <span class="rank">{{ last.league_rank }}</span>
                    {% if last.league_rank_change != 0 %}
                        {% if last.league_rank_change > 0 %}
                            <span class="positive_rank_change">(+{{ last.league_rank_change }})</span>
                        {% else %}
                            <span class="negative_rank_change">({{ last.league_rank_change }})</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="player_col">{{ team.manager_name }}</td>
                <td class="entry_col">{{ team.team_name }}</td>
                <td class="chip_col">
                    {% if last.chip %}{{ last.chip }}{% endif %}
                </td>
                <td class="round_col">
                    {% if last.round_rank == 1 %}🥇 {% elif last.round_rank == 2 %}🥈 {% elif last.round_rank == 3 %}🥉 {% endif %}
                    <span class="round_score_value">{{ last.net_points }}</span>
                </td>
                <td class="points_col"><span class="points_value">{{ last.total_points }}</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
